:root {
  --main-color: #ff6347;
  --bg-color: #f4f4f4;
  --bg-content-color: #fff;
  --bg-menu: #eceef2;
  --bg-tag-color: #f4f4f4;
  --bg-code: #eee;
  --bg-codeblock: #f8f8f8;
  --body-color: #4c4d4e;
  --title-color: #50596c;
  --border-color: rgba(0,0,0,0.1);
  --space: 3.5rem;
  --content-width: 776px;
}
::-webkit-scrollbar {
  width: 0.55rem !important;
  height: 0.4rem !important;
  background: 0 0 !important;
}
::-webkit-scrollbar-thumb {
  background: #b5b5b5 !important;
}
@media screen and (max-width: 762px) {
  ::-webkit-scrollbar {
    width: 0.25rem !important;
    height: 0.16rem !important;
  }
}
html,
body {
  scroll-behavior: smooth;
}
body {
  --base-font-size: 16px;
  font-size: var(--base-font-size);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: var(--bg-color);
  color: var(--body-color);
  -webkit-transition: color 0.6s, background-color 0.6s;
  -o-transition: color 0.6s, background-color 0.6s;
  transition: color 0.6s, background-color 0.6s;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}
::selection {
  color: #fff;
  background-color: #318efd;
}
::-moz-selection {
  color: #fff;
  background-color: #318efd;
}
@media screen and (max-width: 650px) {
  body {
    --space: 1.5rem;
  }
}
article,
aside,
figure,
details,
footer,
header,
nav,
section {
  display: block;
}
.main {
  margin: 0 auto;
  padding: 1.5vw 12px 0;
}
.main.tagscloud,
.main.links {
  margin: 0 auto;
  max-width: 1024px;
}
.content-card {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  margin: 0 auto;
  transition: background-color 0.6s;
  padding: var(--space);
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.02), 1px 1px 15px 0 rgba(0,0,0,0.03);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.02), 1px 1px 15px 0 rgba(0,0,0,0.03);
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  -o-transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
}
.content-card>:first-child {
  margin-top: 0;
}
.content-card>:last-child {
  margin-bottom: 0;
}
.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}
.separate-dot:after {
  content: ' · ';
}
h1,
h2,
h3,
h4,
h5 {
  -webkit-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-family: miriam libre, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round;
  font-weight: 430;
  line-height: 1.5;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.05em;
}
small {
  font-size: 0.889em;
}
b,
strong {
  font-weight: 700;
}
m,
mark {
  background: #f9de4b;
  color: #4c4d4e;
}
em {
  font-style: italic;
}
s {
  text-decoration: line-through;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  osx-font-smoothing: grayscale;
}
a {
  color: var(--main-color);
  cursor: pointer;
  text-decoration: none;
}
a:not(.button) {
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a:not(.button):hover {
  opacity: 0.8;
  text-decoration: underline;
}
a .index-title {
  color: var(--title-color);
}
img {
  max-width: 100%;
}
img.lazy {
  -webkit-transition: -webkit-filter 0.375s ease 0s;
  transition: -webkit-filter 0.375s ease 0s;
  -o-transition: filter 0.375s ease 0s;
  transition: filter 0.375s ease 0s;
  transition: filter 0.375s ease 0s, -webkit-filter 0.375s ease 0s;
}
img.lazy:not(.loaded) {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  padding-bottom: 40%;
}
hr {
  -webkit-box-sizing: initial;
  box-sizing: initial;
  height: 0;
  overflow: visible;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  border-bottom-color: #eee;
  height: 0.1em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
}
hr:after {
  clear: both;
}
input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
blockquote {
  margin: 16px 0 16px 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote >:last-child {
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
pre {
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: normal;
}
pre >code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
pre span {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: auto;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
li {
  word-wrap: break-all;
}
li >p {
  margin-top: 16px;
}
li +li {
  margin-top: 0.25em;
}
dl {
  padding: 0;
}
dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
dl dd {
  padding: 0 16px;
  margin-bottom: 20px;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 14px;
  background-color: var(--bg-code);
  border-radius: 3px;
}
a:active,
a:hover {
  outline-width: 0;
}
code,
kbd,
pre {
  font-family: monospace, monospace;
  font-size: 14px;
}
hr:after,
hr:before {
  display: table;
  content: "";
}
td,
th {
  padding: 0;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
ol ol,
ul ol {
  list-style-type: lower-roman;
}
ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}
code,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
blockquote,
details,
dl,
ol,
p,
pre,
table,
ul {
  margin-top: 0px;
  margin-bottom: 20px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
figure {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
table {
  display: block;
  width: 100%;
  overflow: auto;
}
figure table {
  border: none;
  padding: 0;
  max-width: 100%;
}
figure table th {
  font-weight: 600;
}
figure table tr {
  background-color: transparent;
  border-top: none;
}
figure table td.gutter {
  padding-right: 1rem;
  text-align: right;
  background-color: transparent;
}
.highlight {
  margin-bottom: 20px;
  padding: 0.4rem;
  width: auto;
  border-radius: 3px;
}
.highlight pre {
  margin-bottom: 0;
}
.highlight table {
  margin: 0;
  padding: 0.6rem 0;
}
.highlight pre,
pre {
  padding: 0;
  overflow: auto;
  font-size: 14px;
  line-height: 1.45;
  border-radius: 3px;
}
.task-list-item {
  list-style-type: none;
}
.task-list-item +.task-list-item {
  margin-top: 3px;
}
.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table th:not(.code):not(.gutter) {
  font-weight: 700;
}
table tr:not(.code):not(.gutter) {
  background-color: #f6f8fa;
}
table tr:not(.code):not(.gutter):not(.highlight) {
  background-color: transparent;
}
table tr:not(.code):not(.gutter):nth-child(2n) {
  background-color: #f6f8fa;
}
table td:not(.code):not(.gutter),
table th:not(.code):not(.gutter) {
  padding: 6px 13px;
  border: 1px solid var(--border-color);
}
overflows table {
  overflow: auto;
}
overflows table th,
overflows table td {
  white-space: nowrap;
}
.post-entry__content,
.post__content {
  color: var(--body-color);
  font-size: 16px;
  word-wrap: break-word;
}
.post-entry__content a,
.post__content a {
  background-color: initial;
  color: #0366d6;
  text-decoration: none;
}
.post-entry__content a:hover,
.post__content a:hover {
  text-decoration: underline;
}
.post-entry__content>.highlight,
.post__content>.highlight {
  margin: 1rem calc(0rem - var(--space)) !important;
  padding: 0.4rem var(--space) !important;
  border: none !important;
  border-radius: 0 !important;
  width: auto;
}
.post-entry__content h1,
.post__content h1,
.post-entry__content h2,
.post__content h2,
.post-entry__content h3,
.post__content h3,
.post-entry__content h4,
.post__content h4,
.post-entry__content h5,
.post__content h5,
.post-entry__content h6,
.post__content h6 {
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.25;
}
.post-entry__content h1,
.post__content h1,
.post-entry__content h2,
.post__content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}
.post-entry__content h6,
.post__content h6 {
  font-size: 0.875em;
  color: #6a737d;
}
.archives {
  position: relative;
  max-width: var(--content-width);
  margin: 0 auto;
}
.archives .archives-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
  position: relative;
}
.archives .archives-item .archives-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  box-flex: 0;
}
.archives .archives-item .archives-icon {
  border-radius: 50%;
  color: var(--main-color);
  display: block;
  height: 1.6rem;
  text-align: center;
  width: 1.6rem;
}
.archives .archives-item .archives-icon.icon-lg {
  background: var(--main-color);
  line-height: 1.2rem;
}
.archives .archives-item .archives-icon::before {
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  left: 0.6rem;
  position: absolute;
  top: 0.8rem;
  width: 0.4rem;
}
.archives .archives-item .archives-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  box-flex: 1;
  padding: 2px 0 2px 0.8rem;
}
.archives .archives-item .archives-content .archives-year {
  margin: 0;
}
.archives .archives-item .archives-content .archives-title {
  color: var(--title-color);
  font-size: 20px;
}
.archives .archives-item:hover .archives-icon::before {
  background: var(--main-color);
}
.archives .archives-item::before {
  background: #e7e9ed;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 1.6rem;
  width: 2px;
}
.archives .archives-item:last-child::before {
  background: 0 0;
}
.links-list {
  margin: 0 auto;
  max-width: 1080px;
}
.links-list .links-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -8px;
  border-radius: 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1.3;
}
.links-list .links-content .links-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  margin: 0 auto;
  margin-top: calc(2.25 * 16px + 32px);
  color: #444;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 15px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 5px 15px 0 rgba(0,0,0,0.3);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 16rem;
  width: calc(100% / 4 - 16px);
}
@media screen and (max-width: 1280px) {
  .links-list .links-content .links-card {
    width: calc(100% / 3 - 16px);
  }
}
@media screen and (max-width: 1080px) {
  .links-list .links-content .links-card {
    width: calc(100% / 2 - 16px);
  }
}
@media screen and (max-width: 768px) {
  .links-list .links-content .links-card {
    width: calc(100% / 1 - 16px);
  }
}
.links-list .links-content .links-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.links-list .links-content .links-left .avatar {
  width: 64px;
  height: 64px;
  margin: 16px 8px 4px 8px;
  margin-top: calc(-1.25 * 16px - 32px);
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
}
.links-list .links-content .links-right {
  margin: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.links-list .links-content .links-right p {
  text-align: center;
  margin: 0;
}
.links-list .links-content .links-right p.links-name {
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
}
.links-list .links-content .links-right p.tags {
  display: inline;
  background: none;
  word-wrap: break-word;
  padding-right: 4px;
}
.links-list .links-content .links-right .links-tags-wrapper {
  margin-left: -2px;
  word-break: break-all;
}
.post-list>:last-child {
  margin-bottom: 0;
}
.post-entry {
  margin-bottom: var(--space);
  position: relative;
}
.post-entry:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 1px 10px 30px 0 rgba(0,0,0,0.1);
  box-shadow: 1px 10px 30px 0 rgba(0,0,0,0.1);
}
.post-entry__content .post-entry__title {
  color: var(--title-color);
  margin-top: 0;
  border: none;
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 1.125;
}
.post-meta__cats,
.post-entry__tags {
  display: inline-block;
  position: relative;
  margin: 1em 0 0;
  z-index: 1;
}
.post-meta__cats:empty,
.post-entry__tags:empty {
  display: none;
}
.post-entry__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 0;
}
.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}
.post-meta__date {
  color: #808080;
}
.post-entry__meta,
.post-title__meta {
  display: block;
  z-index: 1;
  position: relative;
  font-size: 0.8em;
  opacity: 0.8;
  font-family: rubik, sans-serif;
}
.post-entry__meta:empty,
.post-title__meta:empty {
  display: none;
}
.post-entry__header,
.post__header {
  margin: calc(var(--space) * -1) !important;
  margin-bottom: calc(var(--space) / 2) !important;
  overflow: hidden;
  border-radius: 10px;
}
.post-entry__header:empty,
.post__header:empty {
  display: none;
}
.post-entry__header .post-thumbnail,
.post__header .post-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 40%;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
  background-attachment: scroll;
}
.post__content p {
  line-height: 1.8;
}
.post__content img.inline {
  display: inline;
}
.post__content div>img,
.post__content p>img,
.post__content div>picture>img,
.post__content p>picture>img {
  display: block;
  margin: auto;
  border-radius: 4px;
}
.post__content span img {
  display: inline;
  margin: auto;
}
.post__comments {
  max-width: var(--content-width);
  margin: var(--space) auto;
  font-family: rubik, sans-serif;
}
.post__comments:empty {
  display: none;
}
.post-footer__meta {
  font-size: 14px;
  margin-top: 1.5rem;
}
.post-footer__meta>:last-child {
  margin-bottom: 0;
}
.post-footer__meta:empty {
  display: none;
}
.post-tags__link,
.post-cats__link {
  display: inline-block;
  margin: 0.35em;
  font-size: 0.75em;
  text-decoration: none;
  background-color: var(--bg-cat-color);
  color: currentColor !important;
  padding: 0.25rem 0.6rem 0.25rem 0.6rem;
  border-radius: 5px;
}
.post-tags__link {
  background-color: var(--bg-tag-color);
}
.post__license {
  background-color: #f5f5f5;
  word-break: break-all;
  margin: 3em 0 1em 0;
  padding: 0.5rem 0.8rem;
  border-left: 4px solid #f44336;
  list-style: none;
}
.post__license p {
  margin: 3px 1px 3px 1px;
  padding: 0;
}
.post__expire {
  display: none;
  margin: calc(var(--space) / 2) var(--space) 0 var(--space);
  padding: 0.5rem 0.8rem;
  background: #ffffc0;
  border-left: 4px solid #fff000;
  list-style: none;
}
.post__expire p {
  color: #947600;
  margin: 3px 1px 3px 1px;
  padding: 0;
}
.cover {
  display: block;
  text-align: center;
  margin: 3rem auto;
}
.cover .cover__logo {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.cover .cover__avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin: 0 auto 1rem auto;
}
.cover .cover__intro {
  color: #999;
}
.footer {
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.1em;
  font-family: rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round;
  color: #999;
}
.footer * {
  margin: 0 auto;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
}
.footer >span {
  margin: 0 0.35em;
}
.footer a {
  color: #6b6b6b;
  text-decoration: none;
}
.footer svg {
  margin-right: 0.2rem;
}
.footer #b2t {
  display: block;
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 1001;
  right: 1.2rem;
  bottom: 1.2rem;
  border-radius: 5px;
  color: var(--title-color);
  background-color: var(--bg-menu);
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(48,55,66,0.15);
  box-shadow: 0 0.3rem 0.6rem rgba(48,55,66,0.15);
}
.footer #b2t * {
  margin: 8px;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  padding: 0 calc(var(--space) / 2);
  top: 0;
  z-index: 10;
}
.header .header__left,
.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: rubik, sans-serif, Varela Round;
}
.header .header__left .logo__text {
  font-size: 18px;
  padding: 16px 10px 16px 10px;
  border-radius: 5px;
}
.header .header__right .navbar__menus {
  padding: 0 0 0 15px;
}
.header .header__right .navbar__menus .navbar-menu {
  font-size: 16px;
  padding: 16px 10px 16px 10px;
  border-radius: 5px;
}
.header .header__right .navbar__menus .navbar-menu:hover {
  background-color: var(--bg-menu);
}
.header .header__right #btn-search,
.header .header__right #btn-toggle-dark {
  height: 55.5px;
  padding: 15px 10px;
}
.header .header__right .dropdown-icon {
  display: none;
  height: 55.5px;
  padding: 15px 10px;
  border: 0 !important;
  background-color: transparent;
}
.header .header__right .dropdown-icon * {
  width: 24px;
  height: 24px;
}
.header .header__right .dropdown-icon:focus + .dropdown-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__right .dropdown-menus {
  -webkit-animation: slide-down 0.15s ease 1;
  animation: slide-down 0.15s ease 1;
  display: none;
  position: absolute;
  left: 12px;
  right: 12px;
  top: 60px;
  z-index: 9999;
  border-radius: 6px;
  padding: 24px;
  background: var(--bg-content-color);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.02), 1px 1px 15px 0 rgba(0,0,0,0.03);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.02), 1px 1px 15px 0 rgba(0,0,0,0.03);
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header .header__right .dropdown-menus:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__right .dropdown-menus .dropdown-menu {
  padding: 10px;
}
@media screen and (max-width: 764px) {
  .navbar__menus {
    display: none !important;
  }
  .dropdown-icon {
    display: block !important;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: var(--content-width);
  margin: 1.5rem auto;
  height: auto;
}
.nav + * {
  margin-top: 0;
}
.nav .nav__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
  -ms-flex: 50% 1;
  flex: 50% 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}
.nav .nav__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
  -ms-flex: 50% 1;
  flex: 50% 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}
.nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--title-color);
}
.nav .nav__link:hover {
  text-decoration: none;
  opacity: 1;
}
.nav .nav__label {
  font-size: 0.8rem;
  font-weight: 450;
  color: #808080;
}
.nav .nav__title {
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.125;
}
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
.search-form .search-input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: border-bottom-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-bottom-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--body-color);
  opacity: 0.87;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
}
.search-form .search-input::-webkit-search-decoration,
.search-form .search-input::-webkit-search-cancel-button,
.search-form .search-input::-webkit-search-results-button,
.search-form .search-input::-webkit-search-results-decoration {
  display: none;
}
.search-form .search-input:focus {
  border: none;
  border-bottom: 1px solid var(--main-color);
}
.search-form #search-input {
  width: 100%;
}
.search-result .search-result__notice {
  opacity: 0.67;
  max-width: var(--content-width);
  margin: 0 auto;
  padding-top: calc(var(--space) / 4);
  padding-bottom: calc(var(--space) / 4);
}
.search-result .search-result__list:empty {
  display: none;
}
.search-result a.search-result__link {
  color: inherit;
}
.search-result a.search-result__link:hover {
  text-decoration: none;
}
.search-result a.search-result__link:not(:first-of-type) .search-result__item {
  padding-top: calc(var(--space) / 4);
}
.search-result a.search-result__link:not(:last-of-type) .search-result__item {
  padding-bottom: calc(var(--space) / 4);
  border-bottom: 1px solid var(--border-color);
}
.toc {
  display: block;
  font-size: 14px;
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.toc .toc-link {
  color: #808080;
}
.toc .toc-child {
  padding-left: 0.6rem;
  list-style-type: none;
}
.btn-toc {
  display: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 1001;
  right: 1.2rem;
  bottom: 4.8rem;
  border-radius: 5px;
  color: var(--title-color);
  background: var(--bg-menu);
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(48,55,66,0.15);
  box-shadow: 0 0.3rem 0.6rem rgba(48,55,66,0.15);
}
.btn-toc * {
  margin: 8px;
}
.btn-toc:focus + .toc-menus {
  display: block;
}
.toc-menus {
  -webkit-animation: slide-up 0.15s ease 1;
  animation: slide-up 0.15s ease 1;
  display: none;
  position: fixed;
  left: 12px;
  right: 12px;
  bottom: 12px;
  max-height: 60vh;
  overflow: auto;
  border-radius: 6px;
  padding: 24px;
  background: var(--bg-content-color);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.02), 1px 1px 15px 0 rgba(0,0,0,0.03);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.02), 1px 1px 15px 0 rgba(0,0,0,0.03);
  z-index: 9999;
}
.toc-menus:hover {
  display: block;
}
.toc-menus .toc-title {
  font-size: 0.9rem;
  color: #808080;
  margin-bottom: 0.8rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #eaecef;
}
.post-side {
  display: block;
  height: 0;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: calc(60px + 10px);
}
.post-side .post-side__toc {
  display: block;
}
.post-side .post-side__toc .toc {
  display: none;
  width: calc((100vw - 776px) / 2 - 12.6px);
  height: calc(100vh - 60px * 2 - 20px);
  padding-left: 0.6rem;
}
@media screen and (max-width: 1246px) {
  .post-side {
    width: calc(100vw / 6 - 20px);
  }
  .post-side .post-side__toc .toc {
    width: calc(100vw / 6 - 20px);
  }
  .post__with-toc,
  .nav {
    max-width: calc(100vw / 6 * 4);
  }
}
@media screen and (max-width: 1080px) {
  .post-side {
    width: calc(100vw / 4 - 30px);
  }
  .post-side .post-side__toc .toc {
    width: calc(100vw / 4 - 30px);
  }
  .post__with-toc,
  .nav {
    max-width: calc(100vw / 4 * 3);
    margin-left: 0;
  }
}
@media screen and (min-width: 765px) {
  .post-side .post-side__toc .toc {
    display: block;
  }
}
@media screen and (max-width: 764px) {
  .post__with-toc,
  .nav {
    max-width: var(--content-width);
  }
  #btn-toc {
    display: block;
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.sliding-fold,
details {
  display: block;
  padding: 16px;
  margin: 20px 0;
  background: var(--bg-content-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.sliding-fold>summary,
details>summary {
  cursor: pointer;
  outline: none;
}
.sliding-fold .fold-content,
details .fold-content {
  margin-top: 20px;
}
.sliding-fold .fold-content>:first-child,
details .fold-content>:first-child {
  margin-top: 0;
}
.sliding-fold .fold-content>:last-child,
details .fold-content>:last-child {
  margin-bottom: 0;
}
.blockquote-note {
  margin: 1rem 0;
  padding: 1rem;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  -o-transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s, -webkit-transform 0.3s, -webkit-box-shadow 0.6s;
  border: none !important;
}
.blockquote-note .blockquote-note__header {
  font-family: miriam libre, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Varela Round;
  font-size: 1.125em;
  font-weight: 550;
}
.blockquote-note .blockquote-note__header .blockquote-note__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: 0.3em;
}
.blockquote-note .blockquote-note__header .blockquote-note__icon svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
}
.blockquote-note .blockquote-note__content {
  color: var(--body-color) !important;
  margin-bottom: 20px;
}
.blockquote-note .blockquote-note__content >:first-child {
  margin-top: 0;
}
.blockquote-note .blockquote-note__content >:last-child {
  margin-bottom: 0;
}
.post__content>.blockquote-note {
  margin: 1rem calc(0rem - var(--space));
  padding: 1rem var(--space);
}
.blockquote-note__info {
  color: #0070f3 !important;
  background-color: rgba(0,113,243,0.1);
}
.blockquote-note__info .blockquote-note__icon svg {
  fill: #0070f3;
  stroke: #0070f3;
}
.blockquote-note__important {
  color: #19cc96 !important;
  background-color: rgba(25,204,150,0.1);
}
.blockquote-note__important .blockquote-note__icon svg {
  fill: #19cc96;
  stroke: #19cc96;
}
.blockquote-note__tip {
  color: #d400ff !important;
  background-color: rgba(212,0,255,0.1);
}
.blockquote-note__tip .blockquote-note__icon svg {
  fill: #d400ff;
  stroke: #d400ff;
}
.blockquote-note__caution {
  color: #f5a623 !important;
  background-color: rgba(245,166,35,0.1);
}
.blockquote-note__caution .blockquote-note__icon svg {
  fill: #f5a623;
  stroke: #f5a623;
}
.blockquote-note__warning {
  color: #e00 !important;
  background-color: rgba(224,0,0,0.1);
}
.blockquote-note__warning .blockquote-note__icon svg {
  fill: #e00;
  stroke: #e00;
}
